body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #301414, #552424);
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.countdown-item {
    margin: 0 10px;
    text-align: center;
}

.countdown-item span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna */
    align-items: center; /* Centrar horizontalmente */
    margin-top: 20px;
}

form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Agregar espacio inferior */
    width: 100%; /* Ajustar al 100% del ancho del contenedor */
    max-width: 300px; /* Ancho máximo */
}

form button {
    padding: 10px 20px;
    border: none;
    background: #ff8c00;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%; /* Ajustar al 100% del ancho del contenedor */
    max-width: 300px; /* Ancho máximo */
}

form button:hover {
    background: #e57c00;
}
